<!DOCTYPE html>
<html>
<head>
    <title>Obtener Latitud y Longitud</title>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #mapaactualizar {
          height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
          height: 100%;
          margin: 0;
          padding: 0;
        }
      </style>
</head>
<body>
 
    <div id="mapaactualizar"></div>
    
    <script>
   let map;

function initMap() {
  map = new google.maps.Map(document.getElementById("mapaactualizar"), {
    center: { lat: -34.397, lng: 150.644 },
    zoom: 8,
  });
}

window.initMap = initMap;

       
    </script>
    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtTDv6zE-wO9l81rfsEqnWrtmIzykelug&callback=initMap&v=weekly">
</script>
</body>
</html>






